Installer Spark

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

DÃ©finir les variables d'environnement

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

## Exercice 1.1 : Chargement des DonnÃ©es

Importer les data basics

In [4]:
!wget wget https://datasets.imdbws.com/title.basics.tsv.gz

--2025-12-15 08:42:00--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address â€˜wgetâ€™
--2025-12-15 08:42:00--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 3.175.207.35, 3.175.207.127, 3.175.207.91, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|3.175.207.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 214986515 (205M) [binary/octet-stream]
Saving to: â€˜title.basics.tsv.gzâ€™

title.basics.tsv.gz 100%[===================>] 205.03M   111MB/s    in 1.8s

2025-12-15 08:42:03 (111 MB/s) - â€˜title.basics.tsv.gzâ€™ saved [214986515/214986515]

FINISHED --2025-12-15 08:42:03--
Total wall clock time: 2.4s
Downloaded: 1 files, 205M in 1.8s (111 MB/s)

Importer les names

In [73]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz

--2025-12-15 12:19:40--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 3.175.207.96, 3.175.207.35, 3.175.207.91, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|3.175.207.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 295789825 (282M) [binary/octet-stream]
Saving to: â€˜name.basics.tsv.gzâ€™

name.basics.tsv.gz  100%[===================>] 282.09M  17.0MB/s    in 18s

2025-12-15 12:20:00 (15.6 MB/s) - â€˜name.basics.tsv.gzâ€™ saved [295789825/295789825]

Extraire les noms

In [74]:
with gzip.open('name.basics.tsv.gz', 'rb') as f_in:
    with open('name.basics.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

CrÃ©ation du dataset df_names

In [75]:
df_names = spark.read.csv('./name.basics.tsv', header=True, sep="\t")
df_names.show(2)

+---------+-------------+---------+---------+--------------------+--------------------+
|   nconst|  primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+-------------+---------+---------+--------------------+--------------------+
|nm0000001| Fred Astaire|     1899|     1987|actor,miscellaneo...|tt0072308,tt00504...|
|nm0000002|Lauren Bacall|     1924|     2014|actress,miscellan...|tt0037382,tt00752...|
+---------+-------------+---------+---------+--------------------+--------------------+
only showing top 2 rows

RÃ©cupÃ©ration dataset df_principals

In [76]:
!wget https://datasets.imdbws.com/title.principals.tsv.gz

--2025-12-15 12:23:21--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 3.175.207.35, 3.175.207.91, 3.175.207.96, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|3.175.207.35|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 744606566 (710M) [binary/octet-stream]
Saving to: â€˜title.principals.tsv.gzâ€™

title.principals.ts 100%[===================>] 710.11M  14.7MB/s    in 44s

2025-12-15 12:24:05 (16.2 MB/s) - â€˜title.principals.tsv.gzâ€™ saved [744606566/744606566]

extraction de df_principals

In [77]:
with gzip.open('title.principals.tsv.gz', 'rb') as f_in:
    with open('title.principals.tsv', 'wb') as f_out:
        shutil
        shutil.copyfileobj(f_in, f_out)

DÃ©claration df_principals

In [147]:
df_principals = spark.read.csv('./title.principals.tsv', header=True, sep="\t")
df_principals.show(2)

+---------+--------+---------+--------+---+----------+
|   tconst|ordering|   nconst|category|job|characters|
+---------+--------+---------+--------+---+----------+
|tt0000001|       1|nm1588970|    self| \N|  ["Self"]|
|tt0000001|       2|nm0005690|director| \N|        \N|
+---------+--------+---------+--------+---+----------+
only showing top 2 rows

In [5]:
import gzip,shutil

In [6]:
with gzip.open('title.basics.tsv.gz', 'rb') as f_in:
    with open('title.basics.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

RÃ©cupÃ©ration des Ã©quipes

In [63]:
!wget https://datasets.imdbws.com/title.crew.tsv.gz

--2025-12-15 10:56:40--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 3.175.207.96, 3.175.207.127, 3.175.207.91, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|3.175.207.96|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 79240391 (76M) [binary/octet-stream]
Saving to: â€˜title.crew.tsv.gz.1â€™

title.crew.tsv.gz.1 100%[===================>]  75.57M   154MB/s    in 0.5s

2025-12-15 10:56:40 (154 MB/s) - â€˜title.crew.tsv.gz.1â€™ saved [79240391/79240391]

*Extraire* crew

In [64]:
with gzip.open('title.crew.tsv.gz', 'rb') as f_in:
    with open('title.crew.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

Afficher le schema Crew

In [65]:
df_crew = spark.read.csv('./title.crew.tsv', header=True, sep="\t")
df_crew.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- directors: string (nullable = true)
 |-- writers: string (nullable = true)

Afficher le schema Basics

In [98]:
# Load data from csv to a dataframe.
# header=True means the first row is a header
# sep=';' means the column are seperated using ''
df_basics = spark.read.csv('./title.basics.tsv', header=True, sep="\t")

df_basics.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

Dans df_basics, remplacez les valeurs \N dans la colonne startYear
par NULL et convertissez cette colonne en type Integer.

In [104]:
df_basics = df_basics.replace(
    to_replace="\\N",
    value=None,
    subset=["startYear"]
)

df_basics = df_basics.withColumn(
    "startYear",
    df_basics["startYear"].cast("integer")
)

Filtrer les data

In [105]:








df_basics.sort("endYear",ascending=False).show(2)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+---------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|   genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+---------+
|tt11126122|tvEpisode|Special: Infernal...|Special: Infernal...|      0|     2019|     \N|            24|Animation|
|tt11126124|tvEpisode|Special: Detectiv...|Special: Detectiv...|      0|     2019|     \N|            \N|Animation|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+---------+
only showing top 2 rows

Nombre de ligne de df_basics

In [106]:
df_basics.count()

12144623

Voir les types de films

In [107]:
df_distinct_titleType = df_basics.select("titleType").distinct()

# Affiche le rÃ©sultat
df_distinct_titleType.show(truncate=False)

+------------+
|titleType   |
+------------+
|tvSeries    |
|tvMiniSeries|
|tvMovie     |
|tvPilot     |
|tvEpisode   |
|movie       |
|tvSpecial   |
|video       |
|videoGame   |
|tvShort     |
|short       |
+------------+

Filtrez df_basics pour ne conserver que les entrÃ©es de type 'movie' et
'tvMovie' dans une nouvelle DataFrame df_movies.

In [109]:
df_movies =df_basics.filter((df_basics["titleType"].contains("movie")) | (df_basics["titleType"].contains('tvMovie')) )
df_movies.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000147|    movie|The Corbett-Fitzs...|The Corbett-Fitzs...|      0|     1897|     \N|           100|Documentary,News,...|
|tt0000335|    movie|Soldiers of the C...|Soldiers of the C...|      0|     1900|     \N|            40|     Biography,Drama|
|tt0000502|    movie|            Bohemios|            Bohemios|      0|     1905|     \N|           100|                  \N|
|tt0000574|    movie|The Story of the ...|The Story of the ...|      0|     1906|     \N|            70|Action,Adventure,...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

Filtrage du Genre (Focus Historique) : Ajoutez un filtre sur df_movies pour ne conserver
que les films dont la colonne genres contient le terme 'History' ou 'Documentary'. Nommez
ce nouveau DataFrame df_historical_selection.

In [111]:
df_historical_selection = df_movies.filter((df_movies["genres"].contains("History")) | (df_movies["genres"].contains('Documentary')) )
df_historical_selection.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000147|    movie|The Corbett-Fitzs...|The Corbett-Fitzs...|      0|     1897|     \N|           100|Documentary,News,...|
|tt0001059|    movie|O Terremoto de Be...|O Terremoto de Be...|      0|     1909|     \N|            \N|         Documentary|
|tt0001147|    movie|O CentenÃ¡rio da G...|O CentenÃ¡rio da G...|      0|     1910|     \N|            \N|         Documentary|
|tt0001163|    movie|    Corrida da Rampa|    Corrida da Rampa|      0|     1910|     \N|            \N|         Documentary|
|tt0001359|    movie| A Pesca do Bacalhau| A Pesca do Bacalhau|      0|     1910|     \N|            \N|         Documentary|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

## Exercice 2.1 : Statistiques GÃ©nÃ©rales sur les Titres

Conversion en Vue SQL : CrÃ©ez une vue temporaire SQL pour df_historical_selection
nommÃ©e historical_films.

In [ ]:
df_historical_selection = df_historical_selection.createOrReplaceTempView("historical_films")

## Utilisez la vue SQL historical_films ou le DataFrame df_historical_selection :
1. Nombre Total : Trouvez le nombre total de titres dans la sÃ©lection historique.

In [112]:
df_historical_selection.count()

205394

2. Titres par Type : Trouvez le nombre de titres par titleType (devrait Ãªtre majoritairement
'movie' et 'tvMovie' aprÃ¨s le filtrage).

In [113]:
df_historical_selection.groupBy("titleType").count().show()

+---------+------+
|titleType| count|
+---------+------+
|  tvMovie| 50856|
|    movie|154538|
+---------+------+

## Exercice 2.2 : Exploration des Genres

1. PopularitÃ© des Genres : En utilisant la colonne genres dans df_historical_selection (qui est
une chaÃ®ne de caractÃ¨res sÃ©parÃ©e par des virgules) :

Transformation : SÃ©parez les genres de chaque ligne pour les mettre sur des lignes
sÃ©parÃ©es (utilisez la fonction Spark SQL explode avec split).

AgrÃ©gation : Trouvez les 10 genres les plus populaires (en comptant l'occurrence
de chaque genre) dans notre sÃ©lection historique.

In [117]:
from pyspark.sql.functions import split, explode, count, desc
df_genres_exploded = df_historical_selection.withColumn(
    "genre_unique",
    explode(split(df_historical_selection["genres"], ","))
)

# Visualisation (basÃ©e sur votre exemple)
print("AperÃ§u du DataFrame aprÃ¨s 'explode':")
df_genres_exploded.select("tconst", "genres", "genre_unique").limit(6).show()


# Ã‰tape 2 : AgrÃ©gation pour trouver le Top 10
# -------------------------------------
df_top_10_genres = df_genres_exploded.groupBy("genre_unique") \
                                     .agg(count("*").alias("count")) \
                                     .orderBy(desc("count")) \
                                     .limit(10)

# Affichage du rÃ©sultat
print("\nTop 10 des genres les plus populaires :")
df_top_10_genres.show(truncate=False)

AperÃ§u du DataFrame aprÃ¨s 'explode':
+---------+--------------------+------------+
|   tconst|              genres|genre_unique|
+---------+--------------------+------------+
|tt0000147|Documentary,News,...| Documentary|
|tt0000147|Documentary,News,...|        News|
|tt0000147|Documentary,News,...|       Sport|
|tt0001059|         Documentary| Documentary|
|tt0001147|         Documentary| Documentary|
|tt0001163|         Documentary| Documentary|
+---------+--------------------+------------+


Top 10 des genres les plus populaires :
+------------+------+
|genre_unique|count |
+------------+------+
|Documentary |193353|
|History     |20776 |
|Biography   |14393 |
|Drama       |13524 |
|Music       |7711  |
|Sport       |4142  |
|Adventure   |3228  |
|War         |3220  |
|Comedy      |3064  |
|Family      |2412  |
+------------+------+

## Exercice 2.3 : Longueur des Titres

1. Longueurs : Calculez la longueur de la colonne primaryTitle pour chaque film.
2. Top/Flop Longueur :

Trouver les 5 titres les plus longs.

Trouver les 5 titres les plus courts.

In [120]:
from pyspark.sql.functions import length

# CrÃ©e une nouvelle colonne 'title_length' contenant la longueur du titre
df_with_length = df_historical_selection.withColumn(
    "title_length",
    length(df_historical_selection["primaryTitle"])
)

# Affiche les colonnes pertinentes pour vÃ©rifier le rÃ©sultat
print("AperÃ§u du DataFrame avec la longueur du titre :")
df_with_length.select("primaryTitle", "title_length").show(5, truncate=False)


print("### ðŸ¥‡ Top 5 des titres les plus longs :")
df_longest_titles = df_with_length.orderBy(
    desc("title_length")
).limit(5)

# Affichage des rÃ©sultats
df_longest_titles.select("primaryTitle", "title_length", "startYear").show(truncate=False)

AperÃ§u du DataFrame avec la longueur du titre :
+---------------------------------+------------+
|primaryTitle                     |title_length|
+---------------------------------+------------+
|The Corbett-Fitzsimmons Fight    |29          |
|O Terremoto de Benavente         |24          |
|O CentenÃ¡rio da Guerra Peninsular|33          |
|Corrida da Rampa                 |16          |
|A Pesca do Bacalhau              |19          |
+---------------------------------+------------+
only showing top 5 rows

### ðŸ¥‡ Top 5 des titres les plus longs :
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+
|primaryTitle                                                                                                                                                                                                                          |title_length|startYear|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+
|Jomigwangyeui sae lyeogsaleul gaecheoghan segijeogmannam gyeong-aehaneun choegolyeongdoja Gimjeong-eun dongjikkeseo mihabjung-gug daetonglyeong-gwa lyeogsasang cheos jomisunoesangbong-gwa hoedam jinhaeng - Juche107, 2018. 6. 10-13|230         |2019     |
|Joseonlodongdang chongbiseolo nop-i chudaedoesin gyeong-aehaneun gimjeong-eundongjikke choedaeui yeong-gwang-eul deulimyeo dang je 8 chadaehoe gyeoljeong-eul cheoljeohi gwancheolhagi wihan pyeong-yangsigunminlyeonhabdaehoe        |222         |2021     |
|Minjog-ui hwahaedanhabgwa pyeonghwabeon-yeong-ui saesidaeleul yeol-eonoh-eun lyeogsajeog-in mannam gyeong-aehaneun choegoly-eongdoja Gimjeong-eun dongjikkeseo Munjaeindaetonglyeong-gwa sangbong - Juche107, 2018. 4. 27             |217         |2019     |
|Lyeogsajeog-in je5cha bugnamsunoesangbong jinhaeng gyeong-aehaneun choegolyeongdoja Gimjeong-eun dongjikkeseo munjaeindaetong-lyeong-gwa Pyeong-yang-eseo sangbong - Juche107, 2018. 9. 18-20                                         |189         |2019     |
|You Had to Be There: How the Toronto Godspell Ignited the Comedy Revolution, Spread Love & Overalls, and Created a Community That Changed the World (in a Canadian Kind of Way)                                                       |175         |2025     |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+---------+

RÃ©cupÃ©rer rating

In [44]:
!wget wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2025-12-15 10:19:55--  http://wget/
Resolving wget (wget)... failed: Name or service not known.
wget: unable to resolve host address â€˜wgetâ€™
--2025-12-15 10:19:55--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 3.175.207.127, 3.175.207.96, 3.175.207.35, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|3.175.207.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8122231 (7.7M) [binary/octet-stream]
Saving to: â€˜title.ratings.tsv.gzâ€™

title.ratings.tsv.g 100%[===================>]   7.75M  --.-KB/s    in 0.1s

2025-12-15 10:19:55 (73.7 MB/s) - â€˜title.ratings.tsv.gzâ€™ saved [8122231/8122231]

FINISHED --2025-12-15 10:19:55--
Total wall clock time: 0.5s
Downloaded: 1 files, 7.7M in 0.1s (73.7 MB/s)

Extraire les ratings

In [45]:
with gzip.open('title.ratings.tsv.gz', 'rb') as f_in:
    with open('title.ratings.tsv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

Afficher Ratings

In [47]:
# Load data from csv to a dataframe.
# header=True means the first row is a header
# sep=';' means the column are seperated using ''
df_ratings = spark.read.csv('./title.ratings.tsv', header=True, sep="\t")
df_ratings.show(2)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    2188|
|tt0000002|          5.5|     307|
+---------+-------------+--------+
only showing top 2 rows

## Exercice 3.1 : Jointure Basique (Films et Ratings)

1. Jointure : Joignez df_historical_selection avec df_ratings en utilisant la colonne commune
tconst avec une jointure interne (inner). Nommez le rÃ©sultat df_joined_ratings.

In [145]:
df_joined_ratings = df_historical_selection.join(df_ratings, df_historical_selection["tconst"] == df_ratings["tconst"], "inner")
df_joined_ratings.show(2)

+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
|   tconst|titleType|       primaryTitle|     originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|   tconst|averageRating|numVotes|
+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
|tt0006489|    movie|    The Captive God|   The Captive God|      0|     1916|     \N|            50|Adventure,History|tt0006489|          5.6|      37|
|tt0032711|    movie|The Mannerheim Line|Liniya Mannergeyma|      0|     1940|     \N|            75|  Documentary,War|tt0032711|          6.7|      21|
+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
only showing top 2 rows

2. Conversion en Vue SQL : CrÃ©ez une vue temporaire SQL nommÃ©e historical_rated_films.

In [129]:
historical_rated_films = df_joined_ratings.createOrReplaceTempView("historical_rated_films")
df_joined_ratings.show(2)

+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
|   tconst|titleType|       primaryTitle|     originalTitle|isAdult|startYear|endYear|runtimeMinutes|           genres|   tconst|averageRating|numVotes|
+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
|tt0006489|    movie|    The Captive God|   The Captive God|      0|     1916|     \N|            50|Adventure,History|tt0006489|          5.6|      37|
|tt0032711|    movie|The Mannerheim Line|Liniya Mannergeyma|      0|     1940|     \N|            75|  Documentary,War|tt0032711|          6.7|      21|
+---------+---------+-------------------+------------------+-------+---------+-------+--------------+-----------------+---------+-------------+--------+
only showing top 2 rows

## Exercice 3.2 : RequÃªtes BasÃ©es sur les Notes

Utilisez la vue SQL historical_rated_films :
1. Les Parfaits (Note 10) :

Rechercher les 5 films historiques ayant un averageRating de 10.0 et qui ont au
moins 100 votes (numVotes).

In [137]:
five_top_rated_films = spark.sql("SELECT * FROM historical_rated_films WHERE averageRating = 10.0 AND numVotes >= 20 ORDER BY averageRating DESC LIMIT 5")
five_top_rated_films.show(truncate =False)

+----------+---------+----------------------------------------------+----------------------------------------------+-------+---------+-------+--------------+-----------+----------+-------------+--------+
|tconst    |titleType|primaryTitle                                  |originalTitle                                 |isAdult|startYear|endYear|runtimeMinutes|genres     |tconst    |averageRating|numVotes|
+----------+---------+----------------------------------------------+----------------------------------------------+-------+---------+-------+--------------+-----------+----------+-------------+--------+
|tt10663998|movie    |Widow of the Revolution: The Anna Larina Story|Widow of the Revolution: The Anna Larina Story|0      |2000     |\N     |\N            |Documentary|tt10663998|10.0         |28      |
+----------+---------+----------------------------------------------+----------------------------------------------+-------+---------+-------+--------------+-----------+----------+-------------+--------+

2. Les SÃ©lections IntermÃ©diaires (AnnÃ©es SpÃ©cifiques) :

Rechercher tous les films historiques ayant un score (averageRating) entre 5 et 6
(exclus) et dont l'annÃ©e de dÃ©but (startYear) est entre 1980 et 1999 (inclus).

In [135]:
df_intermediate_selection = spark.sql("SELECT * FROM historical_rated_films WHERE averageRating > 5.0 AND averageRating < 6.0 AND startYear BETWEEN 1980 AND 1999")
df_intermediate_selection.show()

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|    tconst|averageRating|numVotes|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
| tt0080617|    movie|Deutschland Priva...|Deutschland Priva...|      0|     1980|     \N|            85|         Documentary| tt0080617|          5.7|      63|
| tt0444062|    movie|EnquÃªte sur un fi...|EnquÃªte sur un fi...|      0|     1991|     \N|            51|         Documentary| tt0444062|          5.9|      22|
| tt0248832|    movie|The Great Indian ...|The Great Indian ...|      0|     1991|     \N|            96|Documentary,Histo...| tt0248832|          5.8|      92|
|tt16347368|    movie|The Star Trek Sag...|The Star Trek Sag...|      0|     1988|     \N|            90|         Documentary|tt16347368|          5.8|      13|
| tt0306913|    movie|Grant vs Lee: The...|Grant vs Lee: The...|      0|     1999|     \N|           133|         History,War| tt0306913|          5.8|      17|
| tt0142651|  tvMovie|Men Are from Manh...|Men Are from Manh...|      0|     1998|     \N|            \N|         Documentary| tt0142651|          5.5|      10|
| tt0112981|    movie|Erotic Weekend Ge...|Erotic Weekend Ge...|      0|     1992|     \N|            \N|         Documentary| tt0112981|          5.9|      14|
| tt0119382|    movie|    Ines of Portugal|    InÃªs de Portugal|      0|     1997|     \N|            90|Drama,History,Rom...| tt0119382|          5.8|      88|
| tt0202712|    movie|L'Ã©crivain, le pe...|L'Ã©crivain, le pe...|      0|     1990|     \N|            45|         Documentary| tt0202712|          5.8|       9|
| tt2273459|    movie|     Once a Champion|     Once a Champion|      0|     1991|     \N|            60|         Documentary| tt2273459|          5.2|      23|
| tt0164839|    movie|The Raft of the M...|Le radeau de la M...|      0|     1990|     \N|           130|Adventure,Drama,H...| tt0164839|          5.7|     240|
| tt0178366|  tvMovie|     The Danger Tree|     The Danger Tree|      0|     1997|     \N|            50|         Documentary| tt0178366|          5.2|       8|
| tt0161010|    movie|          The Trench|          The Trench|      0|     1999|     \N|            98|   Drama,History,War| tt0161010|          5.9|    4701|
| tt0188778|    movie|The Critical Mass...|Die kritische Mas...|      0|     1998|     \N|           110|         Documentary| tt0188778|          5.2|       8|
| tt0199479|    movie|   Drive-in Madness!|   Drive-In Madness!|      0|     1987|     \N|            82|         Documentary| tt0199479|          5.8|     121|
| tt0376306|  tvMovie|Vil du danse med ...|Vil du danse med ...|      0|     1986|     \N|            40|         Documentary| tt0376306|          5.5|      12|
| tt7639412|    movie|Heroes Returning ...|Heroes Returning ...|      0|     1993|     \N|            80|Action,Drama,History| tt7639412|          5.5|      13|
| tt0153639|    movie|Walt Curtis: The ...|Walt Curtis: The ...|      0|     1997|     \N|            64|         Documentary| tt0153639|          5.8|      42|
| tt0369508|  tvMovie|         Hallo Elvis|         Hallo Elvis|      0|     1985|     \N|            87|   Documentary,Music| tt0369508|          5.1|      19|
| tt0113463|    movie|  Jefferson in Paris|  Jefferson in Paris|      0|     1995|     \N|           139|Biography,Drama,H...| tt0113463|          5.7|    3324|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
only showing top 20 rows

## Exercice 3.3 : Jointure Triple (Films, Acteurs et Ratings)

Pour identifier les acteurs clÃ©s dans notre sÃ©lection :
1. Triple Jointure : RÃ©alisez une jointure enchaÃ®nÃ©e :
--
df_joined_ratings (votre jointure historique film-rating)
--
Jointure avec df_principals sur tconst.
--
Jointure avec df_names sur la colonne d'identifiant de la personne (nconst dans
df_principals et nconst dans df_names).
--
Filtrez df_principals pour ne retenir que les lignes oÃ¹ category est 'actor' ou 'actress'.
--
Nommez le rÃ©sultat df_actor_ratings.

In [151]:
# df_actor_ratings = df_joined_ratings.join(df_principals, df_joined_ratings["tconst"] == df_principals["tconst"], "inner")

df_actor_ratings = df_joined_ratings.join(df_principals, ["tconst"], "inner")
df_actor_ratings = df_actor_ratings.join(df_names, ["nconst"], "inner")

df_actor_ratings = df_actor_ratings.filter((df_actor_ratings["category"] == "actor") | (df_actor_ratings["category"] == "actress"))

df_actor_ratings.show(2)
# df_actor_ratings = df_actor_ratings = df_actor_ratings.join(df_names, df_actor_ratings["nconst"] == df_names["n const"], "inner")
# df_actor_ratings = df_actor_ratings.filter((df_actor_ratings["category"] == "actor") | (df_actor_ratings  ["category"] == "actress"))
# df_actor_ratings.show(2)

+---------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+--------+--------+---+--------------------+--------------+---------+---------+--------------------+--------------------+
|   nconst|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|   tconst|averageRating|numVotes|ordering|category|job|          characters|   primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+--------+--------+---+--------------------+--------------+---------+---------+--------------------+--------------------+
|nm0000086|tt0067108|    movie|Delusions of Gran...|La folie des gran...|      0|     1971|     \N|            85|Adventure,Comedy,...|tt0067108|          7.2|    8656|       1|   actor| \N|["Don Salluste de...|Louis de FunÃ¨s|     1914|     1983|actor,writer,misc...|tt0069747,tt00741...|
|nm0000198|tt3239932|    movie|True Crime: The M...|True Crime: The M...|      0|     2012|     \N|            87|         Documentary|tt3239932|          7.4|      39|       3|   actor| \N|           ["Rocky"]|   Gary Oldman|     1958|       \N|actor,producer,di...|tt1340800,tt45554...|
+---------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+--------+--------+---+--------------------+--------------+---------+---------+--------------------+--------------------+
only showing top 2 rows

2. Conversion en Vue SQL : CrÃ©ez une vue temporaire SQL nommÃ©e historical_actors_ratings.

In [152]:
historical_actors_ratings = df_actor_ratings.createOrReplaceTempView("historical_actors_ratings")

## Exercice 3.4 : RequÃªtes BasÃ©es sur les Acteurs
Utilisez la vue SQL historical_actors_ratings :

Acteurs Ã  Note 5 :

Rechercher les 5 noms d'acteurs/actrices (primaryName de df_names) qui ont jouÃ©
dans le plus grand nombre de films historiques ayant exactement un rating de 5.0.

In [153]:
five_actors_with_highest_ratings = spark.sql("SELECT primaryName, COUNT(*) AS num_films FROM historical_actors_ratings WHERE averageRating = 5.0 GROUP BY primaryName ORDER BY num_films DESC LIMIT 5")
five_actors_with_highest_ratings.show(truncate=False)

+-------------------+---------+
|primaryName        |num_films|
+-------------------+---------+
|Gianfelice Imparato|2        |
|Toni Servillo      |2        |
|Marco Macor        |2        |
|Matt Eisenberg     |2        |
|Geraldine Chaplin  |2        |
+-------------------+---------+

2. Recherche par Acteur :
o
Rechercher tous les films (titre et annÃ©e) avec l'acteur 'Ben Affleck' (utilisez son
nom exact) qui ont obtenu un averageRating entre 5 et 10 (inclus). Triez par annÃ©e
dÃ©croissante.

In [154]:
with_ben_affleck = spark.sql("SELECT primaryTitle, startYear FROM historical_actors_ratings WHERE primaryName = 'Ben Affleck' AND averageRating BETWEEN 5.0 AND 10.0 ORDER BY startYear DESC")
with_ben_affleck.show(truncate=False)

+------------------------+---------+
|primaryTitle            |startYear|
+------------------------+---------+
|The Last Duel           |2021     |
|Argo                    |2012     |
|The Curse of the Bambino|2003     |
+------------------------+---------+

## Get Spark Session Information

### Subtask:
Retrieve and display key information about the current SparkSession, such as the application name, application ID, and Spark master URL.

**Reasoning**:
The subtask requires retrieving and displaying the SparkSession's application name, application ID, and master URL. These can be accessed through the `spark.sparkContext` object.

In [66]:
print(f"Spark Application Name: {spark.sparkContext.appName}")
print(f"Spark Application ID: {spark.sparkContext.applicationId}")
print(f"Spark Master URL: {spark.sparkContext.master}")

Spark Application Name: pyspark-shell
Spark Application ID: local-1765787943609
Spark Master URL: local[*]

## Get Spark Configuration and Resources

### Subtask:
Access and display the Spark configuration properties, including the number of cores allocated for the Spark application. For a local Spark instance, this will reflect the resources used by the local process.

**Reasoning**:
The subtask requires accessing and displaying Spark configuration properties and the number of allocated cores. I will use `spark.sparkContext.getConf().getAll()` to retrieve all configuration properties and then iterate through them to print. For the number of allocated cores, I will use `spark.sparkContext.defaultParallelism` as it reflects the default parallelism for a local instance.

In [67]:
print("Spark Configuration Properties:")
for key, value in spark.sparkContext.getConf().getAll():
    print(f"  {key}: {value}")

print(f"\nNumber of allocated cores (default parallelism): {spark.sparkContext.defaultParallelism}")

Spark Configuration Properties:
  spark.driver.port: 44461
  spark.app.startTime: 1765787942217
  spark.rdd.compress: True
  spark.serializer.objectStreamReset: 100
  spark.master: local[*]
  spark.submit.pyFiles:
  spark.executor.id: driver
  spark.submit.deployMode: client
  spark.sql.warehouse.dir: file:/content/spark-warehouse
  spark.ui.showConsoleProgress: true
  spark.app.name: pyspark-shell
  spark.driver.host: 711094cc40a9
  spark.app.id: local-1765787943609

Number of allocated cores (default parallelism): 2